body{
    background-color: rgb(251, 251, 251);
}
.infected{
    border-bottom: 5px solid #ffff00 ;
}
.recovered{
    border-bottom: 5px solid #4caf50 ;
}
.death{
    border-bottom: 5px solid #ff3d00 ;
}